/CAE_Final_Report.pdf filter=lfs diff=lfs merge=lfs -text
/Turducken_solid.hm filter=lfs diff=lfs merge=lfs -text
/Turducken_surface.hm filter=lfs diff=lfs merge=lfs -text
/Turducken.hm filter=lfs diff=lfs merge=lfs -text
/Turducken_CFD.hm filter=lfs diff=lfs merge=lfs -text
/ME408_Final-Fall[[:space:]]2023.pdf filter=lfs diff=lfs merge=lfs -text
/Properties[[:space:]]of[[:space:]]food.pdf filter=lfs diff=lfs merge=lfs -text
/Turducken.SLDPRT filter=lfs diff=lfs merge=lfs -text
/Turducken.fem filter=lfs diff=lfs merge=lfs -text
/Turducken.h3d filter=lfs diff=lfs merge=lfs -text
/Turducken.step filter=lfs diff=lfs merge=lfs -text
/death_spirals.x_t filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/doe_1/run__00001/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/doe_1/run__00008/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/doe_1/run__00014/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/opt_1/run__00004/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/opt_1/run__00013/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/doe_1/run__00011/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/opt_1-def/run__00001/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/opt_1/run__00002/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/doe_1/run__00016/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/opt_1/run__00009/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/opt_1/run__00010/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/opt_1/run__00005/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/opt_1/run__00006/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/opt_1/run__00007/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/doe_1-def/run__00001/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/doe_1/run__00012/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/opt_1/run__00003/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/setup_1-def/run__00001/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/doe_1/run__00009/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/doe_1/run__00010/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/doe_1/run__00015/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/doe_1/run__00007/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/opt_1/run__00012/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/doe_1/run__00003/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/doe_1/run__00005/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/doe_1/run__00006/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/opt_1/run__00001/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/opt_1/run__00008/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/opt_1/run__00014/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/doe_1/run__00013/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/opt_1/run__00011/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hypermesh/turducken.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/doe_1/run__00002/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
hyperstudy/approaches/doe_1/run__00004/m_1/study.h3d filter=lfs diff=lfs merge=lfs -text
